## Nominal or OneHotEncoding.
    sorts alphabetically,arrange it and gives each value a binary number 1 - value present , 0- value absent
    converting categorical feature into numerical values for training the model
    disadvantge: create a sparse matrix. if 1000 categorical feature then creates so many combination of 1s and 0s

In [1]:
import pandas as pd

In [5]:
data=pd.DataFrame({'color':['red','green','blue']})

In [6]:
from sklearn.preprocessing import OneHotEncoder

In [7]:
encoder=OneHotEncoder()

In [12]:
encoded=encoder.fit_transform(data)

In [18]:
encoded=pd.DataFrame(encoded.toarray(),columns=encoder.get_feature_names_out())

In [19]:
encoded

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         0.0          1.0        0.0
2         1.0          0.0        0.0

In [23]:
encoded_dataset=pd.concat([data,encoded],axis=1)

In [24]:
encoded_dataset

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1  green         0.0          1.0        0.0
2   blue         1.0          0.0        0.0

## Label encoding and Ordinal encoding
    ordinal encoding-categories with rank
    label encoding-provides label to each values

In [32]:
#label encoding

In [26]:
data=pd.DataFrame({'color':['red','green','blue']})

In [28]:
from sklearn.preprocessing import LabelEncoder

In [29]:
encoder=LabelEncoder()

In [31]:
encoder.fit_transform(data['color'])

array([2, 1, 0])

In [33]:
#ordinal encoding

In [34]:
data=pd.DataFrame({'size':['small','large','medium','small','medium','large']})

In [35]:
from sklearn.preprocessing import OrdinalEncoder

In [42]:
encoder=OrdinalEncoder(categories=[['small','medium','large']])

In [43]:
encoder.fit_transform(data[['size']])

array([[0.],
       [2.],
       [1.],
       [0.],
       [1.],
       [2.]])

## Target guided ordinal encoding
    technique used to encode the categorical var based on their relationship with target var.WE replace each category in the categorical var with numerical val based on the mean and median of the target var for that category

In [46]:
df=pd.DataFrame({'city':['Newyork','London','Paris'],'prices':[129,125,150]})

In [47]:
df

      city  prices
0  Newyork     129
1   London     125
2    Paris     150

In [56]:
mean=df.groupby('city')['prices'].mean().to_dict()

In [57]:
mean

{'London': 125.0, 'Newyork': 129.0, 'Paris': 150.0}

In [64]:
df['mean_prices']=df['city'].map(mean)

In [65]:
df['mean_prices']

0    129.0
1    125.0
2    150.0
Name: mean_prices, dtype: float64

In [66]:
df

      city  prices  mean_prices
0  Newyork     129        129.0
1   London     125        125.0
2    Paris     150        150.0